<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Chartography v1.0" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Chartography v1.0" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <style type="text/css">html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}</style>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVvq1WmStWhMJsgKioY5kIXdnAeSPOxXo"></script>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat:15 , lng:0 },
          zoom: 2
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <%= render 'layouts/messages' %>
    </main>
    <%= yield %>
  </body>
</html>
